<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.lmovse.blog.core.mapper.MetaMapper">

    <resultMap id="BaseResultMap" type="info.lmovse.blog.core.pojo.po.Meta">
        <id column="mid" jdbcType="INTEGER" property="mid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="slug" jdbcType="VARCHAR" property="slug"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
    </resultMap>

    <resultMap id="MetaDto" type="info.lmovse.blog.core.pojo.dto.MetaDto" extends="BaseResultMap">
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        m.mid, m.name, m.slug, m.type, m.description, m.sort, m.parent
    </sql>

    <select id="selectMetaDto" resultMap="MetaDto" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>, count(r.mid) count
        FROM t_metas m
        LEFT JOIN t_relationships r
        ON r.mid = m.mid
        WHERE m.type = #{type}
        GROUP BY m.mid
    </select>

</mapper>